<div style="width:95%; margin:0 auto;">
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Influence</th>
      <th>Outreach</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>@KimKardashian</td>
        <td>994</td>
        <td>7</td>
      </tr>
      <tr>
        <td>@Reuters</td>
        <td>986</td>
        <td>5</td>
      </tr>
      <tr>
        <td>@HuffingtonPost</td>
        <td>940</td>
        <td>6</td>
      </tr>
  </tbody>
</table>
</div>