<% model_class = Term %>
<div class="page-header">
  <h4>Dashboard</h4>
</div>

<h6><span style="font-size:15px;" class="label label-important"><%= @terms.keyword_terms.count %></span> keyword tracking</h6>
<h6><span style="font-size:15px;" class="label label-important"><%= @terms.hashtag_terms.count %></span> hashtags tracking</h6>
<h6><span style="font-size:15px;" class="label label-important"><%= @terms.user_terms.count %></span> users tracking</h6>