<%- model_class = Term -%>
<div class="page-header">
  <h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h4>
</div>
<%= render :partial => 'form' %>
