<%- model_class = Term -%>
  <legend class="pull-left"><%= "Tweets matching #{@term.type.downcase} '#{@term.text}'" %>
    <span class="pull-right" style="font-size:.6em"><%= link_to raw("<i class='icon-refresh'></i> Refresh results"), refresh_term_results_path(@term.id) %></span></legend>
  

<dl class="dl-horizontal">
  <% @tweets.each do |tweet| %>
    <dt><strong><%= tweet.from_user %>:</strong></dt>
    <dd><%= link_to tweet.text, tweet_path(tweet) %></dd>
  <% end %>
</dl>
