<div id="chart" style="width:100%; height:570px;">
  <% if @twitter_user.tweets.blank? %>
    <p class='show-failure' style="padding-top:200px;text-align:center;display:none;">
      There are no tweets matching this user.
      <small><a href="#" class="no-results" rel="tooltip" data-html="true" title="While our user search has years of data, our tweet search is limited by Twitter's Search API constraints. <br/><br/>This may cause some searches to have user results but no tweet results." data-placement="right" data-trigger='click'>Why?</a></small>
    </p>
  <% end %>
</div>