/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
*/

.box {
    margin: 20px 0;
}

.box-content > .box {
  margin: 5px 0;
}
.box-header {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}
.box-header h2 {
    color: #333;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
    width:100%;
}
.box-header h2 i {
    margin: 1px 3px 0 5px;
    opacity: 0.4;
}

.box-header small {
    font-size:11px;
    color:#999;
    margin-top:6px;
}
.box-header .break {
    border-left: 1px solid #FCFCFC;
    border-right: 1px solid #DDDDDD;
    margin: -12px 10px -10px;
    padding: 12px 0 10px;
}
.box-header .box-icon {
    float: right;
    margin-top: 1px;
}
.box-header .box-icon i {
    -moz-transition: all 0.1s ease-in-out 0s;
    opacity: 0.4;
}
.box-header .box-icon i:hover {
    opacity: 0.8;
}
.box-header .box-icon a {
    margin: 0 5px;
}
.box-content {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
    padding: 10px;
}

#breadcrumbs {
  margin-bottom:-16px;
  font-size:.85em;
}

.graph-metadata {
  padding: 5px 10px;
  background: #999;
  color: #fefefe;
  text-shadow: 0 1px #444;
  border-radius: 3px;
  border: 1px solid gray;
}