<h1>Listing hashtag_terms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hashtag_terms.each do |hashtag_term| %>
  <tr>
    <td><%= link_to 'Show', hashtag_term %></td>
    <td><%= link_to 'Edit', edit_hashtag_term_path(hashtag_term) %></td>
    <td><%= link_to 'Destroy', hashtag_term, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hashtag term', new_hashtag_term_path %>
